.container{
  width: 100%;
  height: 60px;
  background-color: rgba(47, 37, 58, 0.842);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fcfcfc;
  
}
.logo{
  width: 20%;
  height: max-content;
  padding: 10px 0;
}
.nav{
  width: 30%;
  height: max-content;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}
.nav li{
  list-style: none;
  font-size: 18px;
  cursor: pointer;
}